
@{
    ViewBag.Title = "Index";
}

<<<<<<< HEAD
<h2>8=D</h2>
=======
>>>>>>> SammyG



<ol>
    <li><a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button">Stack</a></li>
    <li><a href="@Url.Action("Index", "Queue")" class="w3-bar-item w3-button">Queue</a></li>
    <li><a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Dictionary</a></li>
    <li><a href="https://www.byu.edu/">Exit</a></li>
</ol>

