
@{
    ViewBag.Title = "Index";
}

<<<<<<< HEAD
<<<<<<< HEAD
<h2>Start Page</h2>
=======
=======

<h2>WELCOME TO THE HOME PAGE</h2>


<ol>
    <li><a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button">Stack</a></li>
    <li><a href="@Url.Action("Index", "Queue")" class="w3-bar-item w3-button">Queue</a></li>
    <li><a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Dictionary</a></li>
    <li><a href="https://www.byu.edu/">Exit</a></li>
</ol>
>>>>>>> master

